.btn
	position: relative
	display: inline-block
	width: auto
	text-align: center
	text-transform: uppercase
	transition: background 0.45s ease-in-out
	//white-space: nowrap
	&:hover
		background-color: rgba($white, 0.1)
	&--bg
		@extend .btn
		background-color: $main
		color: $white
		+font(16, 16, 400)
		text-shadow: $tsd
		letter-spacing: 1px
		text-align: center
		padding: 10px 12px
		margin: 10px 0 0
		overflow: hidden
		position: relative
		&::after
			content: ''
			position: absolute
			height: 400px
			width: 20px
			background: white
			top: -100px
			left: -200px
			display: block
			opacity: 0.8
			box-shadow: 0px 0px 20px 10px white
			transform: rotate(45deg)
			transition: all 0.8s ease
			//animation: shine 1.5s ease-in-out infinite alternate

