.row
	&--0
		margin-top: 5px
	&--3
		margin-top: 15px
		margin-bottom: 15px
	&--2
		margin-top: -12vmax !important
	&--4
		margin: 10px 25px
	&--5
		margin-top: -5vmax
		padding-bottom: 2vmax
	&--6
		margin-bottom: 10vmin
		padding-bottom: 30px
	&--7
		margin-left: 10%
	&--8
		margin-bottom: -10%
		margin-top: 20%