$white: #fff
$black: #000

//$main: #eb6009
$main: #f64102
$main2: #ff9900
$orange: #dd682a
$blue: #176fc1
$blue2: #001040
$bg: radial-gradient(circle farthest-corner, #00249e 0, #000b29 100%)
$tsd: 0 2px 4px rgba(5,1,16,.69)
$tsd2: 0 0 16px $main

%shine
	position: relative
	overflow: hidden
	&::after
		content: ''
		position: absolute
		height: 400px
		width: 20px
		background: white
		top: -100px
		left: -200px
		display: block
		opacity: 0.8
		box-shadow: 0px 0px 20px 10px white
		transform: rotate(45deg)
		transition: all 0.8s ease
		animation: shine 1.5s ease-in-out infinite alternate

\:root 
	--fz: 16px
	//--bg2: linear-gradient(10deg, #000106, #01176c)
	--clr1: #7fde00
	--bg2: #000
	--bg: radial-gradient(circle farthest-corner,#00249e 0,#000b29 100%)
	--btnBxSd: 0 10px 70px 0 rgba(103,151,255,.22), 0 15px 105px 0 rgba(103,151,255,.22) //#1da219
	--btnBg: radial-gradient(at top center, #259c0d, #11342d)
	--btnBgHover: linear-gradient(120deg,rgba(52,221,135,0) 0%,#24d47a 100%)

$FA: 'FontAwesome'
$ffMain: 'Montserrat'
$ffBack: Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


=font($fz, $lh: 1.2, $fw: 400, $ff: $ffMain)
	$lh: $lh/$fz
	$fz: $fz/16 + rem
	$ff: $ff, $ffBack
	font: $fw $fz +/$lh $ff 

=ps($ps, $t, $l, $m: initial)
	position: $ps
	top: $t
	left: $l
	margin: $m
	
=flex($fxw, $ai, $jc, $fx: flex)
	display: $fx
	align-items: $ai
	justify-content: $jc
	flex-wrap: $fxw

=theme($theme)
	@if $theme == dark
		color: $white
		background-color: $black
	@if $theme == light
		color: $black
		background-color: $white
	
=banner($w,$h)
	+flex(nowrap, center, center, flex)
	flex-direction: column
	//background: $bg
	background-color: $black
	background-image: linear-gradient(transparent, $black), url('../img/bg.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%
	color: $white
	margin: 0 auto
	max-width: $w + px
	width: 100%
	height: $h + px
	text-align: center
	padding: 10px
	outline: 1px solid rgba($black, 0.1)
