@import 'animation'
@import 'fonts'
@import 'vars'
// @import 'btn'

%scroll	
	&::-webkit-scrollbar
		width: 10px
		height: 10px
	&::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px rgba($black, 0.3)
	&::-webkit-scrollbar-thumb
		background: $main

@keyframes isFade 
	from 
		opacity: 1
	to 
		opacity: 0
  
*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: $ffMain, $ffBack
	user-select: none
	&::selection
		background-color: $main
		color: $white
body
	background-color: #f5f5f5
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	min-height: 100vh
	width: 100%
	position: relative
	overflow: hidden
	overflow-y: scroll
	@extend %scroll

a, a:hover
	color: inherit
	text-decoration: none

.row
	+flex(wrap, center, center, flex)
	margin-top: -10px
	margin-bottom: -10px

.banner
	&_600x300
		+banner(600, 300)
		overflow: hidden
		padding: 15px 10px	
		position: relative
		overflow: hidden
		&::after
			content: " "
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: $black
			animation: isFade 2s ease-in-out
			opacity: 0
	&_300x100
		+banner(300, 100)
		padding: 0
		& > *
			transform: scale(0.6)
		.row
			flex-wrap: nowrap
		.banner
			&_label img
				width: 90px
				height: 90px
			&_logo img
				margin-top: 10px
				margin-bottom: auto
				height: 35px
				max-width: 100%
			&_score-wrap
				margin: 0 20px
			&_score-title
				font-size: 16px
				margin: 2px auto
			&_score-desc
				display: none
			&_caption
				font-size: 16px
				
	&_score
		text-transform: uppercase
		text-align: center
		margin: 5px
		&-wrap
			+flex(nowrap, center, center, flex)
			margin: -20px 30px
		&-title
			+font(28, 28, 900)
			letter-spacing: 1px
			display: inline-block
			color: var(--clr1)
			// background-color: rgba($white, 0.1)
			// border: 1px solid rgba($white, 0.2)
			//padding: 5px
		&-count
			//background-color: $blue2
			background: var(--bg2)
			color: $white
			display: block
			padding: 8px 12px
			text-shadow: 0 0 1px $white
			letter-spacing: 1px
			font-size: 16px
			width: 70px
			overflow: hidden
			span
				display: block
				position: relative
				&::after 
					content: ''
					cursor: pointer
					position: absolute
					left: -80px
					width: 70px
					background: $white
					display: block
					-webkit-box-shadow: 0 0 20px 10px rgba($white, 0.8)
					box-shadow: 0 0 20px 10px rgba($white, 0.8)
					-webkit-transform: rotate(45deg)
					-ms-transform: rotate(45deg)
					transform: rotate(45deg)
					-webkit-transition: all .8s ease
					-o-transition: all .8s ease
					transition: all .8s ease
					-webkit-animation: shine 1.5s ease-in-out 3s infinite alternate
					animation: shine 1.5s ease-in-out 3s infinite alternate
		&-desc
			display: block
			margin-top: 5px
			font-size: 10px
	&_title
		text-transform: capitalize
		text-align: center
		+font(18, 18, 100)
		margin: 5px auto 5px
		&:first-letter
			text-transform: uppercase
	&_label
		max-width: 120px
		margin-bottom: -15px
		div, img
			width: 120px
			height: 120px
			object-fit: contain
			display: block
			margin: -20px auto 0
			background-image: url('../img/ball.png')
			background-repeat: no-repeat
			background-size: contain
			background-position: 50%
	&_caption
		max-width: 150px
		+font(12, 12*1.5, 100)
		letter-spacing: 1px
		text-align: center
		text-transform: uppercase
		margin-top: 5px
		height: 35px
		display: block

	&_btn
		display: inline-block
		background: var(--btnBg)
		box-shadow: var(--btnBxSd)
		color: $white
		text-shadow: 0 0 0 $white
		text-transform: uppercase
		letter-spacing: 1px
		text-align: center
		padding: 12px 16px
		margin: 0px auto 5px
		&:hover
			background: var(--btnBgHover)
			
.banner_dateTime
	+flex(nowrap, center, center, flex)
	margin-bottom: -8px
	padding-top: 20px
.text
	&--1
		+font(32, 32, 900)